.normal-form {
    margin: 10px;
}

.controles-conatainer{
    width: 100%;
    padding: 5%;
}

.controles-conatainer > * {
    width: 100%;
}
  /* sve komponente koje se nalaze u klasi .controles-conatainer se biti 100% sirine  */

.add-bottom-paddig{
    padding-bottom: 10px;
}

mat-radio-button {
    margin-left: 15px;
}

.button-row  button {
    margin-left: 10px;
}


      
.btn-dialog-close {
    width: 45px;
    min-width: 0px;
    height: 40px;
    padding: 0px;
} 